<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Written Digit Recognizer by Sai Kumar Adapa</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS for some styling -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
        }
        h3 {
            color: #333;
            margin-bottom: 30px;
        }
        img {
            border: 3px solid #555;
            border-radius: 10px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="col-lg-8 offset-lg-2 text-center">
        <h3>Hand Written Digit Recognizer</h3>
        <h4>by Sai Kumar Adapa</h4>
        <img src="{{ url_for('video_feed') }}" width="70%" alt="Digit Recognizer Feed">
        <p>
            <strong>Project Title:</strong> Real-time Digit Recognition System <br>
            <strong>Developer Name:</strong> Sai Kumar Adapa<br>
            <strong>Tech Stack:</strong> Flask, Keras, OpenCV, HTML, Bootstrap<br>
            <strong>Description</strong>: A real-time digit recognition system that captures video from a device's camera, processes the stream frame-by-frame, and predicts the handwritten digit present in a designated rectangular region on the screen. Leveraging the power of deep learning, the system predicts the digit and displays the result, all in real time.<br>
            <strong>GitHub Link:</strong> <a href="https://github.com/saikumaradapa/Real-Time-Digit-Recognition-with-Convolutional-Neural-Network" target="_blank"></a> https://github.com/saikumaradapa/Real-Time-Digit-Recognition-with-Convolutional-Neural-Network </br>
            <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sai-kumar-adapa-5a16b2228/" target="_blank"></a> https://www.linkedin.com/in/sai-kumar-adapa-5a16b2228/ </br></br></br></br>


        </p>

    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
